.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 180.52px;
  min-height: 46px;
  font-family: calibri;
  border: none;
  cursor: pointer;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  direction: ltr;
}

.brand {
  width: 160.52px;
  background-color: red;
  height: fit-content;
  position: relative;
  transition: all 500ms ease;
  border-radius: 100px;
  overflow: hidden;
  direction: ltr;
}

.brand:hover {
  opacity: 0.8;
}

.brand:hover * .icon {
  transform: translateX(40px) rotate(360deg);
}

.brand:hover .icon_span {
  transform-origin: center;
  transform: translateX(65px);
  width: 15%;
}

.brand:hover .text {
  transform: translateX(-60px);
}

.icon {
  position: absolute;
  color: #fff;
  left: 11px;
  top: 11px;
  font-size: 1.5em;
  transition: all 500ms ease-in-out !important;
}

.icon_span {
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 25%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 500ms ease;
}
.github {
  background: #333;
}
.text {
  color: #fff;
  transition: all 500ms ease;
}
