.header {
  height: 5rem;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: black;
}
.container {
  display: flex;
}
.lng_dropdown {
  width: 2rem !important;
  height: 2rem !important;
  font-size: small !important;
  margin: 15px 15px !important;
  background-color: white !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  direction: ltr !important;
  border-radius: 50% !important;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .header {
    display: none;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .header {
    display: none;
  }
}

@media only screen and (min-width: 1441px) {
  .header {
    display: none;
  }
}
